h1 {
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
    font-size: 3em; 
}

.container {
    width: 80%;
    margin:auto;
    overflow:hidden;
}

#mainheader {
    background:#333
}

#mainNav {
    background: #555;
    color:wheat;
}

/* navigation bar */

#mainNav ul {
    padding:0;              /* remove padding and margins to flush */
    margin:0;
    list-style: none;       /* remove dots */
}

#mainNav li {
    display:inline;         /* fit all list items on same line - as opposed to default block level */
    margin: 20px 40px;
}


#mainNav a {
    color: black;
    text-decoration: none;     /* removes underline on the links */
    font-size: 20px;
}

#mainNav li:hover {
    background:brown;
    
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin:0px;     /* make the body flush against the edges */
}


p {
    border: 5px solid blueviolet;
    padding: 10px 20px;
    margin-top: 20px;
}